.search-button {
  background-color: #8df7bb;
}
/* .body-main {
  background-image: url(../../images/Bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */
